/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

/* header pagina */

#intestazione {
    background-color: white;
    height: 82px;
    width: 100%;
    position: fixed;
    z-index: 900;
}

.row-nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

 .nav-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 30px;
}

/* .row-nav a {
    text-decoration: none;
    color: black;
} */
 
.header-button {
    background-color: #0062FE;
    display: inline-block;
    height: 32px;
    width: 90%;
    text-align: center;
    line-height: 31px;
    margin-right: 65px;
}

.row-nav a.header-button {
    color: white;
}

.header-button:hover {
    background-color: #6ba4ff;
}

.nav-list li a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
}

.nav-list li a:hover {
    border-bottom: 2px solid black;
}

/* jumbotron header */

#jumbotron {
    background-color: #B4D0E7;
    padding-top: 100px;
    height: 862px;
}

.column-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 62px;

}

.row-jumbo {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.col-jumbo {
    /* DEBUG */
    /* background-color: blueviolet;
    height: 300px;
    border: 1px black solid; */
    width: 71%;
    margin-bottom: 80px;
}

h1 {
    font-size: 75px;
    font-weight: 800;
}

.col-jumbo img {
    height: 500px;
}

.col-jumbo p {
    line-height: 24px;
}

.button {
    background-color: #0062FE;
    height: 45px;
    width: 62%;
    color: white;
    text-align: center;
    margin-top: 34px;
    line-height: 45px;
    display: inline-block;
    text-decoration: none;
}

.col-jumbo i{
    font-size: 50px;
    margin-top: 80px;
}

.button:hover {
    background-color: #6ba4ff;
}

.col-jumbo span {
    margin-top: 30px;
    display: block;
}


/* main pagina */

/* sezione piano business */
.main-container {
    width: 55%;
    margin: 200px auto;
}

.main-container h2 {
    font-size: 40px;
    padding-bottom: 65px;
}

#anno {
    margin-left: 60px;
}

.main-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col-dim {
    /* DEBUG */
    /* background-color: chartreuse;
    height: 300px; */
    border: 1px solid rgb(211, 210, 210);
    margin-top: 50px;
}

.col-dim h3 {
    font-size: 23px;
    margin-top: 30px;
    padding-bottom: 12px;
}

.col-dim p {
    margin-top: 45px;
    padding-right: 340px;
    margin-bottom: 30px;
    font-size: 15px;
}

.flex-azienda {
    display: flex;
    justify-content: space-between;
}

.flex-button {
    width: 25%;
    margin-right: 40px;
}

i {
    font-size: 20px;
}

.col {
    /* DEBUG */
    /* background-color: chartreuse;
    height: 600px; */
    border: 1px solid rgb(211, 210, 210);
    width: 30%;
    margin-top: 50px;

}

.work-type {
    text-align: center;
    line-height: 38px;
    border-bottom: 1px grey solid;
}

.work-type i {
    font-size: 16px;
}

.col h3 {
    font-size: 23px;
    margin-top: 30px;
    padding-bottom: 12px;
}

strong {
    font-size: 14px;
    
}

.col span {
    color: grey;
    font-size: 14px;
    display: block;
    margin-top: 8px;
    
}

.margin {
    margin-left: 30px;
}

.info-user {
    margin-top: 50px;
    list-style-type: none;
    font-size: 14px;
    padding-right: 30px;
}

.info-user li {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    padding-right: 25px;
}

.info-user i {
    font-size: 14px;
}

.width-button {
    width: 83%;
    margin-top: 50px;
}

.little-text {
    margin-top: 30px;
    font-size: 15px;
}

.border-bot {
    border-bottom: 1px #D3D2D2 solid;
    margin-top: 40px;
    width: 20%;
}

.col h4 {
    margin-top: 50px;
    font-size: 12px;
    font-weight: 900;
}

.features {
    list-style-type: none;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 55px;
    padding-right: 20px;
}

.features li {
    margin-top: 20px;
    padding-right: 25px;
    display: flex;
    gap: 8px;
}


/* sezione partner dropbox */

.partner-row {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.partner-col {
    /* DEBUG */
    /* background-color: orange;
    height: 500px;
    border: 1px solid black; */
    width: 60%;
    margin-top: 50px;
}

.partner-row img {
    height: 520px;
}

.partner-row h3 {
    font-size: 23px;
    margin-top: 50px;
    padding-right: 40px;
}

.partner-row p {
    margin-top: 15px;
    padding-right: 86px;
    line-height: 22px;
}

.partner-button {
    border: 1px black solid;
    margin-top: 30px;
    width: 40%;
    height: 45px;
    text-align: center;
    line-height: 44px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

