/* generics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

/* header pagina */

#intestazione {
    background-color: white;
    height: 82px;
    width: 100%;
    position: fixed;
    z-index: 900;
}

.row-nav {
    display: flex;
    justify-content: space-between;
    margin: 30px;

}

.row-nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    gap: 30px;
}

.row-nav a {
    text-decoration: none;
    color: black;
}

/* jumbotron header */

#jumbotron {
    background-color: #B4D0E7;
    padding-top: 100px;
}

.column-jumbo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin: 0 auto;
    margin-top: 62px;

}

.row-jumbo {
    display: flex;
    justify-content: center;
    margin-top: 65px;
}

.col-jumbo {
    /* DEBUG */
    background-color: blueviolet;
    height: 300px;
    border: 1px black solid;
    width: 50%;
    margin-bottom: 80px;
}

h1 {
    font-size: 75px;
    font-weight: 800;
}

/* main pagina */

/* sezione piano business */
.main-container {
    width: 55%;
    margin: 140px auto;
}

.main-container h2 {
    font-size: 40px;
    padding-bottom: 65px;
}

#anno {
    margin-left: 80px;
}

.main-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    /* DEBUG */
    background-color: chartreuse;
    height: 600px;
    border: 1px solid black;
    width: 30%;
    margin-top: 50px;

}

.col-dim {
    background-color: chartreuse;
    height: 300px;
    border: 1px solid black;
    margin-top: 50px;
}

/* sezione partner dropbox */

.partner-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partner-col {
    /* DEBUG */
    background-color: orange;
    height: 500px;
    border: 1px solid black;
    width: 50%;
    margin-top: 50px;
}